@{
    ViewData["Title"] = "Apagar Contato";
}
<div class="text-center">

    <h1 class="display-4">Apagar Contato</h1>

</div>

<div class="text-center">
    <h3>Você realmente deseja apagar o contato?</h3>
</div>

<a class="btn btn-primary btn-block" role="button" asp-controller="Contato" asp-action="Apagar">Confirmar</a>
<a class="btn btn-dark btn-block" role="button" asp-controller="Contato" asp-action="Index">Cancelar</a>